{% extends 'base.html.twig' %}
{% block body %}
	<h1>Login</h1>
	{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class="flash-notice">
	    {{ flashMessage }}
	</div>
	{% endfor %}
	{{ form(form) }}
	<a href ="{{ path('account_register') }}">Sign up</a>
{% endblock %}
